<div class="row">
  <div class="col-12 col-xl-8 mb-4 mb-lg-0">
    <div class="card">
      <h5 class="card-header">Employee list</h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Type</th>
                <th scope="col">start</th>
                <th scope="col">Salary</th>
                <th scope="col">Provident fund rate</th>
                <th scope="col">Provident fund</th>
                <th scope="col">Company contribution(10%)</th>
                <th scope="col">Year accumulated</th>
                <th scope="col">Provident fund after left</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of employeeList">
                <td>{{ emp.firstname }} {{ emp.lastname }}</td>
                <td>{{ emp.age }}</td>
                <td>{{ emp.employeetype }}</td>
                <td>{{ emp.startdate }}</td>
                <td>{{ emp.salary }}</td>
                <td>{{ emp.pvfrate }}</td>
                <td>{{ emp.pvfAccumulated | currency: "THB":"" }}</td>
                <td>{{ emp.companyContribution | currency: "THB":"" }}</td>
                <td>{{ emp.workingYearAccumulated }}</td>
                <td>
                  {{ emp.companyContributionAfterLeft | currency: "THB":"" }}
                </td>

                <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <a href="#" class="btn btn-block btn-light">View all</a>
      </div>
    </div>
  </div>
</div>
